@model ProyectoFinal_ActivosFijos.Models.ViewModel.UsuariosViewModel
@{
    ViewBag.Title = "Login";
}

<style>

    body {
        margin: 0;
        padding: 0;
        color: #f8f9fa; /* Cambia el color del texto a blanco */
        overflow: hidden; /* Evita el scroll en la vista */
        background-image: url('/images/BackgroundToyota.jpg');
        background-size: cover;
        background-position: center;
        background-color: white;
        min-height: 100vh;
    }

    .container-login {
        @*display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;*@
        position:absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 101;
        max-width: 320px;
        width: 100%;

    }

    .login-form {
        background: transparent;
        padding: 30px;
        border: 2px solid rgba(255, 255, 255, .5);
        border-radius: 20px;
        backdrop-filter:blur(20px);
        text-align: center;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
        max-width: 400px;
        width: 100%;
    }

    .form-control {
        background-color: #f8f9fa;
        border: 1px solid #ced4da;
        color: #495057;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 25px;
    }

        .form-control::placeholder {
            color: #6c757d;
        }

    .boton-IS, .boton-RG {
        width: 100%;
        height: 45px;
        background:#bcbcbc;
        border: none;
        border-radius: 25px;
        color: white;
        cursor: pointer;
        transition: all 0.3s ease;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1em;
        letter-spacing: 1px;
        margin-top: 10px;
    }

        .boton-IS:hover, .boton-RG:hover {
            background-color: #969696;
        }

    #olvidadoContrasena {
        color: #007bff;
        text-decoration: underline;
        margin-top: 10px;
        display: inline-block;
        cursor: pointer;
    }

    .social-login-buttons {
        margin-top: 20px;
    }


</style>

<div class="container-login">
    <div class="login-form">
        <form action="@Url.Action("Index", "Login")" method="post">
            <h2>Iniciar sesión</h2>

            <input type="text" id="username" name="username" class="form-control" placeholder="Cedula Usuario" required>

            <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required>

            <input type="submit" value="Ingresar" class="boton-IS">
            <button class="boton-RG" onclick="document.location.href = '@Url.Content("~/Register/Index")'">Crear cuenta</button>

            <br>
            


            <p style="color: red;">
                @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                {
                    @ViewBag.ErrorMessage
                }
            </p>
        </form>
    </div>
</div>
