@model ProyectoFinal_ActivosFijos.Models.ViewModel.UsuariosViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Index</h2>

<style>

    body {
        margin: 0;
        padding: 0;
        color: white; /* Cambia el color del texto a blanco */
        overflow: hidden; /* Evita el scroll en la vista */
        background-image: url('../../content/Images/art.png');
        background-size: cover;
        background-position: center;
        background-color: black;
    }

    .container-login {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-form {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 30px;
        border-radius: 10px;
        text-align: center;
    }

    .form-control {
        background-color: transparent;
        border: 1px solid white;
        color: white;
        padding: 10px;
        margin-bottom: 20px;
        font-family: Staatliches;
        border-radius: 25px;
    }

        .form-control::placeholder {
            color: white;
        }

    .boton-IS,
    .boton-RG {
        background-color: transparent;
        border: 2px solid white;
        border-radius: 25px;
        font-family: Staatliches;
        color: white;
        padding: 10px 20px;
        cursor: pointer;
        transition: all 0.3s ease;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 14px;
        letter-spacing: 1px;
        margin-top: 10px;
        display: inline-block;
    }

        .boton-IS:hover,
        .boton-RG:hover {
            background-color: white;
            color: black;
        }

    #olvidadoContrasena {
        color: white;
        text-decoration: underline;
        margin-top: 10px;
        display: inline-block;
    }

    .social-login-buttons {
        margin-top: 20px;
    }

    .google-signin-button {
        color: #757575;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        padding: 10px 20px;
        cursor: pointer;
        transition: all 0.3s ease;
        margin-left: 10px;
    }



    .facebook-login-button {
        background-color: #3b5998;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        padding: 10px 20px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

        .facebook-login-button:hover {
            background-color: #2d4373;
        }
</style>

<div class="container-login">
    <div class="login-form">
        <form action="@Url.Action("Index", "Login")" method="post">
            <h2>Iniciar sesión</h2>

            <input type="text" id="username" name="username" class="form-control" placeholder="Cedula Usuario" required>
            <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required>

            <input type="submit" value="Ingresar" class="boton-IS">
            <button class="boton-RG" onclick="document.location.href = '@Url.Content("~/Register/Index")'">Crear cuenta</button>

            <br>
            
            <div class="social-login-buttons">
                <div id="google-signin-button" class="google-signin-button"></div>
                <div class="fb-login-button" data-width="150" data-size="large" data-button-type="login_with" data-layout="rounded" data-auto-logout-link="false" data-use-continue-as="false" scope="public_profile,email" onlogin="checkLoginState();"></div>
            </div>

            <p style="color: red;">
                @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                {
                    @ViewBag.ErrorMessage
                }
            </p>
        </form>
    </div>
</div>
