@model ProyectoFinal_ActivosFijos.Models.ViewModel.UsuariosViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    body {
        margin: 0;
        padding: 0;
        color: white; /* Cambia el color del texto a blanco */
        overflow: hidden; /* Evita el scroll en la vista */
        background-image: url('../../content/Images/art.png');
        background-size: cover;
        background-position: center;
        background-color: white;        
    }

    .container-login {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .login-form {
        background-color: rgba(255, 255, 255, 0.9);
        padding: 30px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        max-width: 400px;
        width: 100%;
    }

    .form-control {
        background-color: #f8f9fa;
        border: 1px solid #ced4da;
        color: #495057;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 25px;
    }

        .form-control::placeholder {
            color: #6c757d;
        }

    .boton-IS, .boton-RG {
        background-color: #007bff;
        border: none;
        border-radius: 25px;
        color: white;
        padding: 10px 20px;
        cursor: pointer;
        transition: all 0.3s ease;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 14px;
        letter-spacing: 1px;
        margin-top: 10px;
        display: inline-block;
        width: 100%;
    }

        .boton-IS:hover, .boton-RG:hover {
            background-color: #0056b3;
        }

    #olvidadoContrasena {
        color: #007bff;
        text-decoration: underline;
        margin-top: 10px;
        display: inline-block;
        cursor: pointer;
    }

    .social-login-buttons {
        margin-top: 20px;
    }

    .google-signin-button {
        color: #757575;
        border: none;
        border-radius: 25px;
        font-size: 16px;
        padding: 10px 20px;
        cursor: pointer;
        transition: all 0.3s ease;
        margin-left: 10px;
        background-color: #ffffff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

        .google-signin-button:hover {
            background-color: #f1f1f1;
        }


</style>

<div class="container-login">
    <div class="login-form">
        <form action="@Url.Action("Index", "Login")" method="post">
            <h2 style="background-color: darkblue;">Iniciar sesión</h2>

            <input type="text" id="username" name="username" class="form-control" placeholder="Cedula Usuario" required>
            <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required>

            <input type="submit" value="Ingresar" class="boton-IS">
            <button class="boton-RG" onclick="document.location.href = '@Url.Content("~/Register/Index")'">Crear cuenta</button>

            <br>
            
            <div class="social-login-buttons">
                <div id="google-signin-button" class="google-signin-button"></div>
                <div class="fb-login-button" data-width="150" data-size="large" data-button-type="login_with" data-layout="rounded" data-auto-logout-link="false" data-use-continue-as="false" scope="public_profile,email" onlogin="checkLoginState();"></div>
            </div>

            <p style="color: red;">
                @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                {
                    @ViewBag.ErrorMessage
                }
            </p>
        </form>
    </div>
</div>
