@{
    ViewBag.Title = "Carrito de Compras";
    Layout = "~/Views/Shared/_ClientLayout.cshtml"; // Utiliza el diseño específico para cliente
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <style>
        .checkout-container {
            max-width: 500px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f8f9fa;
            border-radius: 10px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
        }

            .checkout-container h2 {
                font-family: 'Arial', sans-serif;
                color: #343a40;
                margin-bottom: 30px;
            }

        .form-group label {
            font-weight: bold;
            color: #495057;
        }

        .form-control {
            border-radius: 5px;
            box-shadow: none;
            border: 1px solid #ced4da;
        }

            .form-control:focus {
                border-color: #80bdff;
                box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
            }

        .form-row {
            display: flex;
            justify-content: space-between;
        }

            .form-row .form-group {
                flex: 1;
                margin-right: 10px;
            }

                .form-row .form-group:last-child {
                    margin-right: 0;
                }

        .btn-success {
            background-color: #28a745;
            border-color: #28a745;
            font-size: 1.2rem;
        }

            .btn-success:hover {
                background-color: #218838;
                border-color: #1e7e34;
            }
    </style>

</head>

<body>

    <div class="checkout-container">
        <h2 class="text-center">🛍️ CheckOut</h2>

        @using (Html.BeginForm("CheckOut", "Carrito", FormMethod.Post))
        {
            <div class="form-group">
                <label for="cardNumber">Número de Tarjeta</label>
                <input type="text" class="form-control" id="cardNumber" name="cardNumber" placeholder="1234 5678 9012 3456" required minlength="16" maxlength="16" pattern="\d{16}" title="Número de tarjeta debe tener 16 dígitos." />
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="expiryDate">Fecha de Expiración</label>
                    <input type="month" class="form-control" id="expiryDate" name="expiryDate" required min="@DateTime.Now.ToString("yyyy-MM")" />
                </div>
                <div class="form-group col-md-6">
                    <label for="cvv">CVV</label>
                    <input type="text" class="form-control" id="cvv" name="cvv" placeholder="123" required minlength="3" maxlength="3" pattern="\d{3}" title="CVV debe tener 3 dígitos." />
                </div>
            </div>
            <button type="submit" class="btn btn-success w-100 mt-4">
                Confirmar Compra








                @if (TempData["Message"] != null)
                {
                    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                    <script>
                        $(document).ready(function () {
                            Swal.fire({
                                icon: 'success',
                                title: '¡Compra realizada!',
                                text: '@TempData["Message"]',
                                confirmButtonText: 'Aceptar'
                            });
                        });
                    </script>
                }

                @if (TempData["ErrorMessage"] != null)
                {
                    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                    <script>
                        $(document).ready(function () {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: '@TempData["ErrorMessage"]',
                                confirmButtonText: 'Aceptar'
                            });
                        });
                    </script>
                }
















            </button>

            <input type="button" class="btn btn-success btn-lg w-100" style="margin-top: 30px; margin-left: 90px;" value="Regresar" onclick="document.location.href = '@Url.Content("~/Carrito/Index")'" />

        }
    </div>

</body>
</html>

