@{
    ViewBag.Title = "AccesoBloqueado"; 
    Layout = "~/Views/Shared/_ClientLayout.cshtml"; // Utiliza el diseño específico para cliente
}

<h2>Acceso Bloqueado, restringido a las funciones de cliente unicamente</h2>

