
@{
    ViewBag.Title = "AccesoBloqueado";
    Layout = "~/Views/Shared/_AdminLayout.cshtml"; // Utiliza el diseño específico para administración
}

<h2>Acceso Bloqueado, restringido a las funciones de administrador unicamente</h2>

