@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml"; // Utiliza el diseño específico para administración
}
<main>
    <section class="row" aria-labelledby="toyotaTitle">
        <h1 id="title">Bienvenido al mundo de Toyota</h1>
        <p class="lead">Toyota es una empresa líder en la fabricación de automóviles que se enfoca en la innovación y la calidad.</p>
        <p><a href="https://toyota.com" class="btn btn-primary btn-md">Descubre más &raquo;</a></p>
    </section>
    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Gestionar Usuario </h2>            
            <p><a class="btn btn-outline-dark"href="@Url.Action("Index", "Usuario")"> Ir &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="modelsTitle">
            <h2 id="modelsTitle">Gestionar Carros</h2>
            <p><a class="btn btn-outline-dark" href="@Url.Action("Index", "Carros")"> Ir &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="findDealerTitle">
            <h2 id="findDealerTitle">Gestionar Repuesto</h2>
            <p><a class="btn btn-outline-dark" href="@Url.Action("Index", "Repuesto")"> Ir &raquo;</a></p>
        </section>
    </div>
</main>


